# torch==2.0.1+cpu
# torchvision==0.15.2+cpu
onnx==1.14.0
onnxruntime==1.15.1
pycocotools==2.0.7
PyYAML==6.0.1
scipy==1.13.0
onnxslim==0.1.31
gradio==4.31.5
pydantic==2.10.6
opencv-python==4.9.0.80
psutil==5.9.8
py-cpuinfo==9.0.0
huggingface-hub==0.23.2
safetensors==0.4.3
fastapi==0.110.0
uvicorn==0.30.0
python-multipart==0.0.9